ul,
ol
  margin: 0 0 $small-spacing
  padding: 0 0 0 $base-spacing
  list-style-position: outside
  padding-left: 25px

  li
      margin-bottom: 5px

dl
  margin-bottom: $small-spacing

  dt
    font-weight: bold
    margin-top: $small-spacing

  dd
    margin: 0

ul
  list-style-type: disc
  //background: url("arrow.png") 0 50% no-repeat
  //list-style-type: none

ul > li > ul
  list-style-type: circle

//ul > li> ul li:before
  color: $primary-color
  content: '» '
  font-size: 1.2em
  font-weight: bold

ul > li > ul > li > ul
  list-style-type: square

ul > li > ul > li > ul > li > ul
  list-style-type: disc

ul > li > ul > li > ul > li > ul > li > ul
  list-style-type: circle

ul > li > ul > li > ul > li > ul > li > ul > li > ul
  list-style-type: square

ol
  list-style-type: decimal
