@import url("//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Raleway:300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,900,900italic|Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic|Source+Sans+Pro:300,400,600,700|Open+Sans:300,400,700|Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic")

html
  font-size: $unit-font-size

body
  color: $base-font-color
  font-family: $base-font-family
  font-feature-settings: "kern", "liga", "pnum"
  font-size: $base-font-size
  line-height: $base-line-height
  font-weight: $font-weight-normal
  font-feature-settings: "calt" 1
  text-rendering: optimizeLegibility

h1,
h2,
h3,
h4,
h5,
h6
  font-family: $heading-font-family
  line-height: $heading-line-height
  font-weight: $font-weight-bold
  margin: 1em 0 0.75em

h1
  font-size: $size-1 / 1.25
  margin-bottom: 0.25em

h2
  font-size: $size-2 / 1.25

h3
  font-size: $size-3 / 1.25

h4
  font-size: $size-4 / 1.25

h5
  font-size: $size-5 / 1.25

h6
  font-size: $size-6 / 1.25

// Larger than mobile screen
+media($tablet-small)
  h1
    font-size: $size-1

  h2
    font-size: $size-2

  h3
    font-size: $size-3

  h4
    font-size: $size-4

  h5
    font-size: $size-5

  h6
    font-size: $size-6

p
  font-weight: $font-weight-normal
  margin: 0 0 1.3em

  &:last-child
    margin-bottom: 0

em
  font-style: italic

small
  font-size: 70%
  opacity: .75

a
  color: $action-color
  text-decoration: none
  -moz-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease
  -webkit-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease
  -ms-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease
  transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease
  //text-decoration: underline

  &:active,
  &:focus,
  &:hover
    color: shade($action-color, 50%)

hr
  border-bottom: $base-border
  border-left: 0
  border-right: 0
  border-top: 0
  margin: $base-spacing 0

.breaker
  height: 1px
  margin: 4rem auto
  width: 100%

  &:before
    content: "• • •"
    width: 100%
    text-align: center
    display: block
    color: $medium-gray-color
    letter-spacing: 4px
    position: relative
    top: -8px

video
  max-width: 100%
  height: auto
  margin: 10px auto
  text-align: center

img,
picture
  margin: 0 auto
  max-width: 100%
  height: auto

.img-center
    max-width: 100%
    height: auto
    display: block
    margin: 30px auto
    text-align: center

    &-sm
        max-width: 70%

    &-med
        max-width: 80%

.normal
    margin: 0px
    vertical-align: middle

.img-fancy
    width: 80%
    max-width: 100%
    height: auto
    background-color: white
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    margin: 30px auto
    display: block

//code
  background: none
  border-radius: 0
  border: none
  font-family: "Courier New", monospace
  font-size: 0.9em
  margin: 0
  padding: 0 5px
  background-color: lighten($light-gray-color, 6%)

  pre
  -webkit-overflow-scrolling: touch
  font-family: "Courier New", monospace
  font-size: 0.9em
  margin: 0

  code
    line-height: 1.75em
