
*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

*:after,
*::before
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

::-moz-selection
  color: white
  background: $primary-color

::selection
  color: white
  background: $primary-color

html,
body
  width: 100%
  height: 100%

body
  border-top: 5px solid $primary-color
  background: $base-background-color
  //padding-top: 75px

  +media($tablet-small)
    padding-top: 0

figure
  margin: 0
  padding: 0

.main-container
  background: darken($base-background-color, 3%)
  padding: $base-spacing 0

.container
  //max-width: $phone-large
  max-width: 100%
  margin-left: auto
  margin-right: auto
  padding-left: $base-spacing
  padding-right: $base-spacing

  +media($tablet-small)
    max-width: 750px

  +media($tablet)
    max-width: 970px

  +media($desktop)
    max-width: 970px

  //+media($tablet-small)
    //max-width: $tablet-small

  //+media($desktop)
    //padding-left: $base-spacing
    //padding-right: $base-spacing
    //max-width: 1170px
    //max-width: 960px

// NEWLY ADDED BELOW
#aboutme-section
    font-size: 16px

.aboutme-text
    position: relative
    margin-left: 30px

.aboutme-icon
    font-size: 24px
    position: absolute
    left: -30px
    margin-top: 5px

#aboutme-section p:last-child
    margin-bottom: 0


figcaption
    text-align: center
    font-size: 80%
    margin-top: 0px
    margin-bottom: 20px
    font-weight: $font-weight-light
    color: $gray

a.img
    border: 0

.caption
    position: relative
    top: 5px
    left: 0
    right: 0
    margin: 0 auto
    width: 100%
    font-size: 0.8rem
    color: $medium-gray-color

pre
    max-width: 100%
    overflow: auto
    overflow-x: auto
    margin: 1em auto
    padding: 1em
    //background: #f8f8f8
    color: #abb2bf
    background: #282c34
    border-radius: 4px
    //font-family: 'Menlo', 'Monaco', Consolas,"Courier New", Menlo,Monaco,monospace
    -webkit-overflow-scrolling: touch
    white-space: pre-wrap
    overflow-wrap: break-word
    word-break: break-all
    word-wrap: break-word

    code
        font-family: Monaco, Consolas, "Lucida Console", monospace
        font-size: .75em
        //font-family: 'Menlo', 'Monaco', Consolas,"Courier New", Menlo,Monaco,monospace
        color: inherit
        background-color: transparent
        border: 0
        //+media($tablet-small)
            font-size: 14px

    .output
        color: $dark-gray-color
        line-height: 1.1em

//code
    padding: 2px 0px
    color: #c7254e
    background-color: #f9f2f4
    border-left: 4px solid #f9f2f4
    border-right: 4px solid #f9f2f4
    border-radius: 0px
    font-family: 'Monaco', Consolas,"Courier New", Menlo,Monaco,monospace

code
    background: none
    border-radius: 0
    border: none
    font-family: Courier, "Courier New", monospace
    font-size: 0.9em
    margin: 0
    padding: 0px
    background-color: lighten($light-gray-color, 6%)
    border-left: 5px solid lighten($light-gray-color, 6%)
    border-right: 5px solid lighten($light-gray-color, 6%)

.output
    //background-color: #f8f8f8
    //border: 1px solid #e5e5e5
    color: $dark-gray-color
    padding: 1.1em
    //border-radius: 3px
    max-width: 100%
    height: auto
    overflow: auto
    overflow-x: auto
    font-size: 14px
    //font-family: Courier, Consolas, Monaco, Bitstream Vera Sans Mono, "Segoe UI", Menlo, monospace
    font-weight: 400
    line-height: 1.1em
    margin: 20px auto
    white-space: pre-wrap
    overflow-wrap: break-word
    word-break: break-all
    word-wrap: break-word

    b
        color: $primary-color
        font-weight: bold

.out
    color: shade($gray, 20%)
    font-family: "Courier New", Courier, monospace
    font-size: 13px
    padding: 1em
    max-width: 100%
    overflow: auto
    overflow-x: auto
    margin: 20px auto
    white-space: pre-wrap
    overflow-wrap: break-word
    word-break: break-all
    word-wrap: break-word

.contact
    text-align: center
    +media($tablet-small)
        text-align: left

    h1
        text-align: left
        margin-bottom: 5rem

    &-left
        font-size: 20px
        opacity: 0.75
        display: block
        text-align: center
        +media($tablet-small)
            display: inline-block
            text-align: left
            padding: 0px 50px

    &-right
        font-size: 18px
        display: block
        text-align: center
        +media($tablet-small)
            display: inline-block
            text-align: left
            padding-left: 50px

    .big-space
        margin: 2rem 0rem 3rem

.hrule
    text-align: center
    margin: 0 auto
    border-top: 1px solid lighten($medium-gray-color, 20%)
    width: 100%
    position: relative

    &:before
        display: block
        content: " "
        width: 7px
        height: 7px
        border: $medium-gray-color 1px solid
        position: absolute
        top: -5px
        left: 50%
        margin-left: -5px
        background: #FFF
        box-shadow: #FFF 0 0 0 5px
        border-radius: 3px

.big-spacing
    margin-top: $big-spacing
    margin-bottom: $big-spacing

    &-bottom
        margin-bottom: $big-spacing

    &-top
        margin-top: $big-spacing

.base-spacing
    margin-top: $base-spacing
    margin-bottom: $base-spacing

    &-bottom
        margin-bottom: $base-spacing

    &-top
        margin-top: $base-spacing

.small-spacing
    margin-top: $small-spacing
    margin-bottom: $small-spacing

    &-bottom
        margin-bottom: $small-spacing

    &-top
        margin-top: $small-spacing

.med-spacing
    margin-top: $med-spacing
    margin-bottom: $med-spacing
