.hero
  -webkit-overflow-scrolling: touch
  display: -moz-flex
  display: -webkit-flex
  display: -ms-flex
  display: flex
  -moz-flex-direction: column
  -webkit-flex-direction: column
  -ms-flex-direction: column
  flex-direction: column
  -moz-align-items: center
  -webkit-align-items: center
  -ms-align-items: center
  align-items: center
  -moz-justify-content: center
  -webkit-justify-content: center
  -ms-justify-content: center
  justify-content: center
  min-height: 100vh
  position: relative
  z-index: 2
  overflow: hidden
  //display: flex
  //flex-flow: row wrap
  //justify-content: center
  //display: table
  //width: 100%
  //min-height: 100%
  //align-items: center
  //align-content: center

.hero-inner
  width: 100%
  height: auto
  //min-height: 100%
  //display: table-cell
  //vertical-align: middle
  text-align: center

  .dot
    margin: 0 auto
    padding: 5px
    border: 1px solid $light-gray-color
    width: 8em

    +media($tablet-small)
        width: 9em

  .btn
    //width: 190px
    flex: 1
    display: block

    +media($tablet-small)
      display: inline-block

  h1,
  h3
    margin: 0
    max-width: $tablet-small
    display: block

    +media($tablet-small)
        max-width: $tablet-small

  .textarea
      margin: 0 auto
      text-align: center

      +media($tablet-small)
        margin: 0.5em auto

  h1
    //font-size: rem(35)
    margin: 0 auto
    font-family: $heading-font-family

    +media($tablet-small)
        //font-size: rem(40)

  h3
    font-size: 18px
    line-height: 1.4
    margin: 0 auto
    font-family: $base-font-family

    +media($tablet-small)
        font-size: 22px
        line-height: 1.6

  h3, em
    font-weight: $font-weight-normal

  em
    color: $primary-color

  strong
    font-weight: $font-weight-bold
