
.resume
    color: $base-font-color

    body
        padding-top: 0

    .main-container
        background: darken($base-background-color, 3%)
        padding: $base-spacing 0

    .container
        max-width: 100%
        margin-left: $base-spacing
        margin-right: $base-spacing
        padding-left: $base-spacing
        padding-right: $base-spacing
        +media($tablet-small)
            margin-left: $big-spacing
            margin-right: $big-spacing

    ul li
        line-height: 1.4rem

    dt
        font-weight: 900

    p
        margin-bottom: 2rem

    .contact-list
        list-style: none
        padding: 0px
        font-size: 1.2rem

        +media($tablet-small)
            font-size: 1rem

        +media($tablet)
            font-size: 1.1rem


    .date
        @extend %clearfix
        font-weight: 900
        margin: 0
        font-size: 90%
        opacity: .75
        color: $medium-gray-color
        float: right
        text-align: right
        +media($tablet-small)
            float: none
            display: block
            text-align: left

        i
            margin-right: 0.3rem
            display: inline-block
            +media($tablet-small)
                display: none
                margin-right: 0rem
                
    //.date::before
        content: ""
        +media($tablet-small)
            font-family: 'end2end' !important
            content: $icon-calendar
            vertical-align: middle
            margin-right: 0.3em

    .title
        font-size: 18px
        font-weight: 700
        //letter-spacing: 1px
        color: $base-font-color
        margin: 1.5em 0em 0em

    .subtitle
        color: $medium-gray-color
        //font-style: italic
        //font-weight: 300

    .skill
        text-align: left
        margin-right: 0.5em
        font-weight: 900
        font-size: 1.2rem

    .skills
        @extend %clearfix
        text-align: left

        &-left
            float: left
            text-align: left
            width: 50%
            +media($tablet-small)
                width: 30%

            i
                color: $primary-color
                font-size: 0.8rem
                +media($tablet-small)
                    font-size: 1rem

        &-right
            font-weight: 900
            float: left
            text-align: left
            width: 50%
            +media($tablet-small)
                width: 70%

    .name
        font-size: 3.5rem
        font-weight: 900
        font-family: 'Raleway', sans-serif
        color: $primary-color
        margin-top: 0px
        margin-bottom: 0

    .subheading
        font-size: 2.0rem
        font-family: 'Raleway', sans-serif
        color: $gray
        margin-top: 0px
        font-weight: 300
        font-style: italic

    .category
        color: $primary-color
        padding-top: 1rem
        padding-bottom: 0.3rem
        margin: 0px
        font-size: 18px
        font-weight: 300
        font-style: italic
        font-family: $heading-font-family

    .subsection
        color: $primary-color
        font-size: 1.1rem
        font-weight: 900
        font-family: $base-font-family

    .courses
        font-weight: 300

    .header
        @extend %clearfix
        margin-bottom: 2rem

        i
            margin-right: 8px

        &-left
            display: block
            +media($tablet-small)
                float: left
                max-width: 60%

        &-right
            display: block
            +media($tablet-small)
                float: right
                max-width: 40%

    //.contact-list
        list-style: none
        padding-left: 0px

    .fa-icon::before
        display: inline-block
        font-style: normal
        font-variant: normal
        text-rendering: auto
        -webkit-font-smoothing: antialiased

    .login::before
        font-family: "Font Awesome 5 Free"
        font-weight: 900
        content: "\f007"

    .icon-phone
        &:before
            content: "Mobile:"
            font-weight: 900
            font-family: $base-font-family
            text-align: right
            margin-right: 1rem
            +media($tablet-small)
                font-weight: 400
                font-family: 'end2end' !important
                content: $icon-phone

    .icon-mail4::before
        content: "E-mail:"
        font-weight: 900
        font-family: $base-font-family
        text-align: right
        margin-right: 1rem
        +media($tablet-small)
            font-weight: 400
            font-family: 'end2end' !important
            content: $icon-mail4
            vertical-align: middle

    .icon-linkedin2::before
        content: "LinkedIn:"
        font-weight: 900
        font-family: $base-font-family
        text-align: right
        margin-right: 1rem
        +media($tablet-small)
            font-weight: 400
            font-family: 'end2end' !important
            content: $icon-linkedin2
            vertical-align: middle

    .icon-location2::before
        content: "Address:"
        font-weight: 900
        font-family: $base-font-family
        text-align: right
        margin-right: 1rem
        +media($tablet-small)
            font-weight: 400
            font-family: 'end2end' !important
            content: $icon-location2
            vertical-align: middle

    .icon-link::before
        content: "Website:"
        font-weight: 900
        font-family: $base-font-family
        text-align: right
        margin-right: 1rem
        +media($tablet-small)
            font-weight: 400
            font-family: 'end2end' !important
            content: $icon-link
            vertical-align: middle

    /* HEADING WITH ICON */
    h2 i[class^="fa-"],
    h2 i[class*=" fa-"],
    h2 i.fa
        font-size: 22px
        margin-right: 16px
        line-height: 39px
        text-align: center
        color: white
        background: $primary-color
        border-radius: 50%
        //border: 4px solid #dde4e6
        border: 4px solid $primary-color
        display: inline-block
        width: 47px

    h2 i[class^="fa-"]:before,
    h2 i[class*=" fa-"]:before,
    h2 i.fa:before
        display: inline
        margin-left: 0
        margin-right: 0

    /* SECTION-TITLE */
    .section-title
        position: relative
        margin-top: 3em
        margin-bottom: 1em
        font-size: 1.5em
        text-transform: uppercase
        font-family: $heading-font-family
        font-weight: 900

    .section-title:before
        content: ""
        position: absolute
        top: 50%
        left: 0
        width: 100%
        border-bottom: 4px solid #EAEEEF

    .section-title span
        position: relative
        display: inline-block
        padding-right: 1.4em
        background: #fff

    .flex-container
        display: flex
        display: -webkit-flex
        display: -moz-flex
        flex-direction: column
        align-items: flex-start
        +media($tablet-small)
            flex-direction: row
            flex-wrap: wrap

        h2
            margin-top: 0
            color: $primary-color

    .row
        margin-top: 60px
        +media($tablet-small)
            margin-top: 0px

    .sidebar
        @extend .card
        //align-self: stretch
        width: 100%
        margin: 10px
        +media($tablet-small)
            position: -webkit-sticky
            position: sticky
            top: 0.5rem
            margin: 0px
            flex: 30%
            align-self: flex-start
            justify-content: flex-start

        .gravatar
            width: 150px
            height: auto
            margin-top: -80px
            text-align: center
            border-radius: 100%
            -webkit-border-radius: 100%
            -moz-border-radius: 100%
            border: 4px solid $light-gray-color
            +media($tablet-small)
                width: 130px
                height: auto
                margin-top: 0px
                border: none

    .main
        //@extend .card
        margin: 10px
        +media($tablet-small)
            margin: 0px
            flex: 50%
            margin-left: 1rem
            justify-content: flex-end

        .content
            @extend .card

    .resume-container
        @extend %clearfix
        position: relative
        margin: 0 auto
        padding: 0
        width: 420px
        +media($tablet-small)
            width: 768px
        +media($desktop)
            width: 960px

        &:after
            content: "\0020"
            display: block
            height: 0
            clear: both
            visibility: hidden

    .resume-container .column,
    .resume-container .columns
        float: left
        display: inline
        margin: 0
        +media($tablet-small)
            margin-left: 10px
            margin-right: 10px

    .resume-container .three.columns
        width: 420px
        +media($tablet-small)
            width: 124px
        +media($desktop)
            width: 160px

    .resume-container .thirteen.columns
        width: 300px
        +media($tablet-small)
            width: 604px
        +media($desktop)
            width: 760px

    em
        font-style: normal
        font-weight: bold
        color: rgb(100, 100, 100)

    .subheader
        color: #777

    p
        margin: 0 0 20px 0

    p img
        margin: 0

    p.lead
        font-size: 21px
        line-height: 27px
        color: #777

    .profile-card
        //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
        //max-width: 300px
        //margin: auto
        text-align: center

        h2
            margin: 0

        .button-container
            display: flex
            display: -webkit-flex
            display: -moz-flex
            flex-direction: column
            align-items: stretch

        .button,
        .button a
            flex-grow: 1
            width: 250px
            align-self: center
            background: $primary-color
            color: white
            text-align: center
            padding: 8px
            font-size: 1.1rem
            +media($tablet-small)
                width: 100%

            &:hover
                opacity: 0.7

            .fa-file-pdf
                margin: 0
                border: 0
                padding: 0

        .title
            margin: 0px
            color: grey
            font-size: 18px

        a
            text-decoration: none
            font-size: 22px
            color: $primary-color

            &:hover
                opacity: 0.7
