---
layout: pages
---

<!-- posted in category posted-on date by Clarissa -->
<article role="article" class="post">
  <div class="card">
    <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
      <div class="post-meta">
            <span class="post-date"><time>{{ page.date | date: "%A %B %-d, %Y" }}</time>
            {% if page.tags != blank %}
            &ensp;|&ensp;
            {% for tag in page.tags %}
            <a href="{{site.baseurl}}/tags/#{{ tag }}"><span class="post-tags">{{ tag }}</span></a>
            {% endfor %}
            </span>
        {% endif %}
    </div>
    </header>
    <!-- <div class="hrule base-spacing"></div> -->
    {{ content | toc }}

<!------ post meta details ------>
{% include post-meta-details.html %}
<!------ post meta details ------>

<div class="hrule"></div>

<!------ related post list ------>
<div class="related">
 {% if site.related_posts.size >= 1 %}
<!-- <div class="hrule"></div> -->
  <ul class="related-posts">
  <h3 class="footer-section-title">Related Posts</h3>
    {% for post in site.related_posts limit:3 %}
      <li>
          <h6>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
      </h6>
      </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
<!------ related post list ------>

<!-- .about-author -->
<div class="about-author">
  <h3>WRITTEN BY</h3>
  <!-- .author-bio -->
  <div class="author-bio">
      <!-- .author-img -->
      <div class="author-img">
          <a href="{{ site.baseurl }}/about"><img alt="Logo" src="{{ site.baseurl }}/images/logo.png" class="avatar"></a>
      </div>
      <!-- .author-img -->
      <!-- .author-info -->
      <div class="author-info">
          <h4 class="author-name">{{ site.author.name }}</h4>
        <!--  <p>{{ site.description | markdownify }}</p> -->
          <p>
              Clarissa is a recent Computer Science and Information Security graduate who loves Vulnerability Research, Binary Exploitation,
              Reverse Engineering, and Exploit Mitigation.  On her free time, she loves playing wargames to learn and practice new hacking skillz.
         </p>
    </div>
      <!-- .author-info -->
  </div>
  <!-- .author-bio -->
</div>
<!-- .about-author -->

<!------ post nav ------>
{% include post-nav.html %}
<!------ post nav ------>

</div>  <!-- end card -->
</article> <!-- end article -->
  <!------ related post list
   <div class="related">
   {% if site.related_posts.size >= 1 %}
    <h3>Related Posts</h3>
    <ul class="related-posts">
    {% for related_post in site.related_posts limit: 5 %}
      <li><a href="{{ related_post.url }}">{{ related_post.title | strip_newlines }}<span class="date-style">&ensp;&ndash;&ensp;{{ related_post.date  | date_to_string }}</span></a></li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% include related.html %}
  </div>
  </article> -->
