---
layout: page
---

<style>
.ui.segment {
    background: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.post-title {
    color: #9b4dca;
    text-transform: uppercase;
    margin-bottom: 0rem;
    font-weight: 300;
}
.post-header {
    margin-bottom: 0.5rem;
}
</style>

{% include up_button.html %}

<!--
<div class="tags-expo">
  <h3>Tag Cloud</h3>
  <div class="tags-expo-list">
  {{ site | tag_cloud }}
</div>
</div>
-->

<div class="tags-expo">
{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
<!-- site_tags: {{ site_tags }} -->
{% assign tag_words = site_tags | split:',' | sort %}
<!-- tag_words: {{ tag_words }} -->

  <div class="tags-expo-list">
      <div class="ui purple padded left aligned raised segment">
      {% for tag in tag_words %}
      <a href="#{{ tag | cgi_escape }}" class="post-tags">
        <span>{{ tag }} <span class="count">{{ site.tags[tag] | size }}</span>
        </span>
      </a>
    {% endfor %}
</div>
    <aside class="post-date-small"><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
</div>

<div class="hrule base-spacing"></div>

  <div class="tags-expo-section">
      {% for item in (0..site.tags.size) %}{% unless forloop.last %}
        {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
        <h2 id="{{ this_word | cgi_escape }}"><i class="fas fa-hashtag"></i>{{ this_word }}</h2>
        <ul class="tags-expo-posts">
            {% for post in site.tags[this_word] %}{% if post.title != null %}
            <a class="post-title-url" href="{{ site.baseurl }}{{ post.url }}">
                <li>{{ post.title }} <small class="post-date-small">{{ post.date | date_to_string }}</small></li>
            </a>
            {% endif %}{% endfor %}
          </ul>
          <div class="breaker"></div>
          {% endunless %}{% endfor %}
  </div>
</div>
