<header class="site-header">
  <div class="container">
    <input type="checkbox" id="toggleNavbar">
     <h1 class="logo">
        <a href="{{ "/" | prepend: site.baseurl }}"><span class="first">clarissa</span><span class="last">podell</span></a>
     </h1>
     <label for="toggleNavbar" role="button" class="toggle-navbar-button">
        <i class="fas fa-bars"></i>
        <i class="fas fa-times"></i>
     </label>

<nav class="navbar">
  <ul>
    <li><a href="{{ '/' | prepend: site.baseurl }}about" title="About">About</a></li>
    <li><a href="{{ '/' | prepend: site.baseurl }}blog" title="Blog">Blog</a></li>
    <li><a href="{{ '/' | prepend: site.baseurl }}links" title="Links">Links</a></li>
    <li><a href="{{ '/' | prepend: site.baseurl }}contact" title="Contact">Contact</a></li>
    <li><a href="{{ '/' | prepend: site.baseurl }}resume" title="resume">Resume</a></li>
    <!--<li><a href="{{ '/' | prepend: site.baseurl }}icons" title="Icons">Icons</a></li>
    <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank"><i class="icon icon-rss"></i></a></li> -->

    <span class="nav-icons">
         {% include svg-icons.html %}
         <ul id="icons02" class="icons">
             <li><a class="n01" href="mailto:{{ site.author.email | encode_email }}"><svg><use xlink:href="#icon-90a"></use></svg><span class="label">Email</span></a></li>
             <li><a class="n01" href="tel:{{ site.author.mobile }}"><svg><use xlink:href="#icon-90c"></use></svg><span class="label">Mobile</span></a></li>
             <li><a class="n01" href="{{ site.author.linkedin }}"><svg><use xlink:href="#icon-90b"></use></svg><span class="label">LinkedIn</span></a></li>
             <li><a class="n01" href="{{ site.author.github }}"><svg><use xlink:href="#icon-907"></use></svg><span class="label">GitHub</span></a></li>
         </ul>
     </span>

       </ul>
    </nav>
  </div>
</header>
