{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% assign url = site.baseurl | append: "/blog/" %}
  <ul>
    {% if paginator.previous_page %}
      {% if paginator.previous_page > 1 %}
        {% assign prev = 'page/' | append: paginator.previous_page %}
      {% endif %}
    <!--<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>-->
    <li><a class="prev button button-ghost" href="{{ url | append: prev }}" title="Articles new"><i class="fas fa-arrow-left"></i></a></li>
  {% else %}
    <li><a class="button button-ghost disabled"><i class="fas fa-arrow-left"></i></a></li>
    <!--<span>&laquo; Prev</span>-->
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <li><span class="disabled-page current">{{ page }}</span></li>
    {% elsif page == 1 %}
      <li><a href="{{ site.baseurl }}/blog/">{{ page }}</a></li>
    {% else %}
      <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <li><a class="next button button-ghost" href="{{ url | append: 'page/' | append: paginator.next_page }}" title="Articles old"><i class="fas fa-arrow-alt-circle-right"></i></a></li>
  {% else %}
    <li><a class="button button-ghost disabled"><i class="fas fa-arrow-right"></i></a></li>
  {% endif %}
</ul>
</div>
{% endif %}
