<ul class="social">
	<li><a href="mailto:{{ site.author.email}}" target="_blank"><i class="far fa-envelope"></i></a></li>
  <!--	<li><a href="{{ site.author.linkedin }}" target="_blank"><i style="vertical-align: text-top;padding: 0;height: 24px;width: 24px;font-size: 1.4em;" class="icon icon-linkedin2"></i></a></li> -->
    <li><a href="{{ site.author.github }}" target="_blank"><i class="fab fa-github-alt"></i></a></li>
	<li><a href="{{ site.author.linkedin }}" target="_blank"><i style="vertical-align: text-top; padding: 0;" class="fab fa-linkedin-in"></i></a></li>
	<li><a href="{{ site.author.url }}" target="_blank"><i class="fas fa-globe"></i></a></li>
	<li><a href="{{ site.author.url }}" target="_blank"><i class="fas fa-home"></i></a></li>
</ul>
