<ul class="social">
	<li><a href="{{ site.author.url }}" target="_blank">{% octicon globe height:24 %}</a></li>
	<li><a href="{{ site.author.github }}" target="_blank">{% octicon octoface height:24 %}</a></li>	
	<li><a href="{{ site.author.email }}" target="_blank">{% octicon mail height:24 %}</a></li>	
  <!-- <li><a href="{{ site.author.github }}" target="_blank"><i class="icon icon-github"></i></a></li>
  <li><a href="{{ site.author.twitter }}" target="_blank"><i class="icon icon-twitter"></i></a></li>
  <li><a href="{{ site.author.facebook }}" target="_blank"><i class="icon icon-facebook"></i></a></li> -->
  	<li><a href="{{ site.author.linkedin }}" target="_blank"><i style="vertical-align: text-top;padding: 0;height: 24px;width: 24px;font-size: 1.4em;" class="icon icon-linkedin2"></i></a></li>
	<li><a href="{{ site.author.linkedin }}" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
</ul>
